:root {
  --rojo: #e50914;
  --fondo: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
  position: fixed;
  top: 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header .logotipo {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: #e50914;
  font-size: 40px;
  margin-left: 20px;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

/* ---- ----- ----- Pagina de CONTACTO ----- ----- ----- */

#contactoMain {
  margin-top: 18rem;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  left: 5px;
  width: 80px;
  z-index: 2;
}

.whatsapp img {
  width: 80%;
}

#msjContacto {
  background-color: rgba(14, 13, 13, 0.2);
}
#formContacto {
  background-color: rgba(14, 13, 13, 0.2);
}

#contacto {
  background-image: url(../img/pagcontacto.png);
  background-size: cover;
}

.pelicula-principal .boton a {
  text-decoration: none;
  color: black;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .contenedor {
    flex-direction: column;
    text-align: center;
  }

  .pelicula-principal {
    font-size: 14px;
  }

  .pelicula-principal .descripcion {
    max-width: 100%;
  }

  .whatsapp {
    display: none;
  }
}

/* ---- ----- ----- Pagina de CONTACTO ----- ----- ----- */

#contactoMain {
  margin-top: 18rem;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  left: 5px;
  width: 80px;
  z-index: 2;
}

.whatsapp img {
  width: 80%;
}

#msjContacto {
  background-color: rgba(184, 181, 181, 0.2);
  border-radius: 5%;
}

#formContacto {
  background-color: rgba(184, 181, 181, 0.2);
  border-radius: 5%;
}

/* ---- ----- ----- Pagina de ERROR 404 ----- ----- ----- */

.bg-image {
  background-image: url(../img/error2.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.logoError {
  margin-bottom: 5rem;
  font-family: "Bebas Neue";
  font-weight: normal;
  color: #db202c;
  font-size: 60px;
}

.logoError a {
  margin-bottom: 5rem;
  font-family: "Bebas Neue";
  font-weight: normal;
  color: #db202c;
  font-size: 60px;
}
