:root {
  --rojo: #e50914;
  --fondo: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
  position: fixed;
  top: 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header .logotipo {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: #e50914;
  font-size: 40px;
  margin-left: 20px;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../img/poster1.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.pelicula-principal .button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  margin-top: 0.5em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .contenedor {
    flex-direction: column;
    text-align: center;
  }

  .pelicula-principal {
    font-size: 14px;
  }

  .pelicula-principal .descripcion {
    max-width: 100%;
  }
  .carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
  }

  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
    cursor: pointer;
  }

  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carrusel-item:hover {
    transform: scale(1.2);
  }
  .carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
  }

  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
    cursor: pointer;
  }

  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carrusel-item:hover {
    transform: scale(1.2);
  }

  /* ---- ----- ----- Pagina de CONTACTO ----- ----- ----- */

  #contactoMain {
    margin-top: 18rem;
  }

  .whatsapp {
    position: fixed;
    bottom: 10px;
    left: 5px;
    width: 80px;
    z-index: 2;
  }

  .whatsapp img {
    width: 80%;
  }

  #msjContacto {
    background-color: rgba(14, 13, 13, 0.2);
  }
  #formContacto {
    background-color: rgba(14, 13, 13, 0.2);
  }

  #contacto {
    background-image: url(../img/pagcontacto.png);
    background-size: cover;
  }
}
