body{
    /* background: linear-gradient(to right, #000814 0%, #001d3d 50%, #003566 100%); */
    /* background: linear-gradient(to right, #212529 0%, #343a40 50%, #495057 100%); */
    background-image: url(../img/pagcontacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
    position: fixed;
    top: 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

nav .logotipo {
    font-family: "Bebas Neue", cursive;
    font-weight: normal;
    color: #e50914;
    font-size: 40px;
    margin-left: 20px;
}

header nav a {
    color: #e50914;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
    color:  #e50914;
}

.nuevaPassword{
    font-size: 13px;
}

.container{
    margin-top: 8rem;
}


#formulario{
    margin-top: 10rem;
    border-radius: 5%;
    padding: 10px;
    background-color: rgba(7, 7, 7, 0.5);
}
#formularioRegistro{
    margin-top: 4rem;
    border-radius: 5%;
    padding: 10px;
    background-color: rgba(7, 7, 7, 0.5);
}

